html, body {
  height: 100%;
}
body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.left-screen {
    display:block;
    float: left;
}
.right-screen {
    display:block;
}
.main {
    flex: 1 0 auto;
}

