.registration-default {
    @media only screen and (min-width: 600px) {
        .form-width {
            width: 20%;
        }
    }

    .submit-button {
        width: 100%;
        margin-top: 10px;
    }
    .go-back {
        margin-top: 20px;
    }
}
