<form name="smartForm" data-ng-submit="smartForm.$valid && vm.submit()" class="form-width" novalidate  md-theme="vm.user.theme" md-theme-watch>
        <md-input-container class="md-block">
            <label>Full Name</label>
            <md-icon md-font-icon="material-icons">account_circle</md-icon>
            <input data-ng-model="vm.user.fullName" type="text" data-ng-required="true" />
        </md-input-container>
        <md-input-container class="md-block">
            <label>Phone Number</label>
            <md-icon md-font-icon="material-icons">phone</md-icon>
            <input data-ng-model="vm.user.phoneNumber" type="number" data-ng-required="true" />
        </md-input-container>
        <md-input-container class="md-block">
            <label>Email</label>
            <md-icon md-font-icon="material-icons">email</md-icon>
            <input data-ng-model="vm.user.email" placeholder="this will be your username" type="email" data-ng-required="true" />
        </md-input-container>

        <md-input-container class="md-block" data-ng-if="vm.formType === 'registration'">
            <label>Desired Password</label>
            <md-icon md-font-icon="material-icons">lock</md-icon>
            <input data-ng-model="vm.user.password" placeholder="Must contain at least 8 chracters" type="password" ng-required="true" />
        </md-input-container>
        <md-input-container class="md-block">
          <label>Color Theme</label>
          <md-icon md-font-icon="material-icons">color_lens</md-icon>
          <md-select data-ng-model="vm.user.theme" required>
            <md-option value="pink">Pink</md-option>
            <md-option value="blue">Blue</md-option>
          </md-select>
        </md-input-container>
        <div>
            <md-progress-circular class="md-hue-2" md-diameter="50px" data-ng-if="vm.isLoading"></md-progress-circular>
            <md-button data-ng-if="!vm.isLoading" class="md-raised md-primary submit-button" type="submit">{{vm.submitLabel}}</md-button>
        </div>
    </form>
    <div ng-transcldue></div>
